
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: rgba(221, 221, 221, 0.164);
}

.header {
  background: rgb(64, 81, 99);
}

.header-text {
  color: whitesmoke;
  background: rgb(231, 131, 131);
  padding: 12px;
  padding-left: 108px;
  font-weight: bold;
  font-size: 1.7em;
  display: inline-block;
}

.header-text a {
  color: white;
}

.main-block {
  display: flex;
}

.plugins {
  min-width: 205px;
}

.plugins-header {
  padding: 10px;
  padding-top: 20px;
  font-weight: bold;
  color: rgb(64, 81, 99);
}

a {
  text-decoration: none;
  color: dimgray;
}

.plugins-item {
  padding: 10px;
  transition-property: background-color;
  transition-duration: 0.33s;
}

.plugins-item:hover {
  cursor: pointer;
  background: rgba(241, 241, 241, 0.61);
}

.info-table {
  width: 100%;
  color: rgb(141, 130, 124);
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
}

.info-head {
  font-size: 2em;
  padding-bottom: 35px;
  text-align: center;
  text-transform: capitalize;
}

.info-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 5px 2px;
}

.info-mark {
  font-weight: 600;
  text-transform: capitalize;
}

.info-col {
  flex-grow: 1;
  flex-basis: 300px;
  min-width: 300px;
  width: 100%;
}

.welcome-text {
  padding: 60px;
  padding-top: 45px;
  border: 1px solid rgb(230, 230, 230);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}

.welcome-text h1 {
  margin-bottom: 15px;
}

.guide-note {
  border: 1px solid rgb(230, 230, 230);
  background-color: rgb(240, 240, 240);
  padding: 13px;
  margin: 13px;
  font-style: italic;
  color: gray;
}