<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Indra</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/images/icon.png}" sizes="64x64">
</head>
</head>
<body>


<div class="header">
    <div class="header-text">
        <a href="/">INDRA</a>
    </div>
</div>
<div class="main-block">
    <div class="plugins">
        <div class="plugins-header">Available Plugins:</div>
        <!-- Plugins -->
        <div th:each="plugin : ${plugins}">
            <a th:href="${plugin.key}">
                <div class="plugins-item" th:text="${plugin.key}"></div>
            </a>
        </div>
    </div>

    <div class="info-table">
        <div class="info-table" th:each="entry : ${properties}">
            <div class="info-row" th:each="subEntry : ${entry.value}">
                <div class="info-col info-mark" th:text="${subEntry.key}"></div>
                <div class="info-col" th:text="${subEntry.value}"></div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
