<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Indra</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/images/icon.png}" sizes="64x64">
</head>
</head>
<body>


<div class="header">
    <div class="header-text">
        <a href="/">INDRA</a>
    </div>
</div>
<div class="main-block">
    <div class="plugins">
        <div class="plugins-header">Available Plugins:</div>
        <!-- Plugins -->
        <div th:each="plugin : ${plugins}">
            <a th:href="${plugin.key}">
                <div class="plugins-item" th:text="${plugin.key}"></div>
            </a>
        </div>
    </div>

    <div class="info-table">

        <div class="welcome-text">
            <h1>Indra</h1>
            The Indra Application is a tool designed for gathering and reporting an information about computer's current
            state and its components details.
            <br><br>
            To start use our application, please, pick any plugin presented on the left sidebar.
            <br>
            <h1>Generating report</h1>
            You can start an application without web-interface, with just generating report to a file.
            To perform this task, pass this option on startup:
            <div class="guide-note">java application.IndraApplication -file</div>
            <br>
            <h1>API</h1>
            It is possible to retrieve any information from this node and from any plugin in JSON format by
            requesting this link:
            <div class="guide-note">localhost:8080/plugin/{pluginName}</div>
            For example, <a href="/plugin/CPU">localhost:8080/plugin/CPU</a>

            <h1>For Developers</h1>
            This application is an extensible plugin-based tool. By default, here is a couple of standard built-in
            plugins to gather basic info about current node.
            <br><br>
            You can develop your own plugins in order to get any functionality you may ever need and share this
            extensions with the community.
            <br><br>
            Project's repository: <a href="https://bitbucket.org/Zharikov_E/indra">https://bitbucket
            .org/Zharikov_E/indra</a>

        </div>
    </div>
</div>

</body>

</html>
